.root {
    -fx-background-color: #008fd5;
    /*-fx-background-color: #222222;*/
}
#login__title {
    -fx-font-size: 40px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}
#login__btn, #login__cancelBtn {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
}

#login__btn:hover, #login__cancelBtn:hover {
    -fx-background-color: #c1e0ff;
    -fx-text-fill: #555555;
}

#login__btn:pressed, #login__cancelBtn:pressed {
    -fx-background-color: #F2f2f2;
    -fx-text-fill: #555555;
}

#home___title {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}